.pagecontainer{
    max-width:1600px;
    padding: 5px 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*top bar*/
.topbar{
    display:flex;
    align-items:center;
    gap: 20px;
}

.logocontainer {
    text-decoration: none; 
    color: white;
    padding-bottom: 10px;
    padding-left: 20px;
}

.logocontainer a {
    text-decoration: none; 
} 

.logo {
    text-decoration: none; 
    color: white;
}

a:hover .logo{
    text-decoration: none;
    opacity: 0.8;           
}

/* search container */
.searchcontainer{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 5px 0;
}

.searchcontainer form {
    display: flex;
    align-items: center;
    background-color: white; 
    border-radius: 25px;    
    overflow: hidden;       
    border: 1px solid #ccc; 
    padding: 1px;           
}

.searchcontainer input {
    height: 30px;          
    width: 635px;
    border: none;           
    padding: 0 15px;
    outline: none;          
    font-size: 16px;
}

/* search button */
.searchbtn{
    height: 35px;
    border: none;     
    border-radius: 0 20px 20px 0;      
    background-color: #f0f0f0; 
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    transition: background 0.2s;
}

/* Search glow when clicked */
.searchcontainer form:focus-within {
    box-shadow: 0 0 18px rgba(100, 150, 255, 0.5);
    border-color: rgba(100, 150, 255, 0.5);
}
.searchbtn:hover {
    background-color: #1a2148;
    color: white;
}

/* right side buttons */
.rightbuttons{
    white-space: nowrap;
    flex-shrink: 0;
}

.rightbuttons a{
    font-size: 16px;
    cursor:pointer;
    text-decoration: none;  
    color: white;         
    margin: 0 10px;         
    font-weight: normal;
    align-items: center;

    /* button styling */
    border: 2px solid #ffffff;    
    border-radius: 25px;          
    padding: 8px 20px;           
    background-color: transparent; 
    transition: all 0.3s ease;    
    display: inline-block;
}

.rightbuttons a:hover {
    text-decoration: none;
    background-color: white;
    color: #1a2148;
    opacity: 1;
}

.navbottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -8px;
    padding: 0 20px 8px 20px;
}
.nav-spacer { width: 90px; }

.iconbuttons {
    width: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
}
.iconbuttons a{
    color: white;
    margin: 0 10px;
    font-weight: normal;
    align-items: center;
}

.iconbuttons a img {
    width: 30px;   
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.iconbuttons a:hover {
    text-decoration: none;            
    opacity: 0.7;
}

.category {
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.arrowicon{
    width: 14px;
    height: 14px;
    transition: transform 0.3s ease;
    display: block;
    filter: brightness(0) invert(1);
}

.categories ul {
    color: #ffffff;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.categorytitle {
    display: flex; 
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
    user-select: none; 
    transition: all 0.2s ease;
}

.subcategory {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;        
    background-color: #1a2148;
    border-radius: 5px;
    padding: 15px 0px 15px 0px;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    pointer-events: none;
}

.subcategory li a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 16px; 
    transform: translateY(10px);
    transition: all 0.2s ease;
}

.subcategory li a:hover {
    color: rgba(191, 210, 253, 0.6); 
    opacity: 1; 
}

.category.active .subcategory{
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.category.active .categorytitle {
    background-color: rgba(255, 255, 255, 0.1);  /* subtle highlight */
    border-radius: 6px;
    padding: 5px 10px;
}

/* All (Filter) Button */
.allbtn{
    height: 35px;
    border: none;          
    border-radius: 20px 0 0 20px; 
    background-color: #f0f0f0; 
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    transition: background 0.2s;
    cursor:pointer;
}

.allbtnicon {
    width: 12px;  
    height: 12px;
    object-fit: contain;
}

h1{
    text-align: center;
    color: #ffffff;
    font-family: 'Futura', sans-serif;
    font-size: 44px;
    margin-bottom:15px;
    text-shadow: 0 0 40px rgba(100, 150, 255, 0.6);
    letter-spacing: 2px;
}

h2{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase; 
    font-weight: normal;
}

h3{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #000000;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase; 
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 2px;
}

h4{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px; 
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 10px;
}

h5{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px; 
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 10px;
}

/* confirmation container*/
.confirmation-container {
    background: white;
    border-radius: 16px;
    padding: 20px 40px;
    max-width: 560px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.confirm-title {
    font-size: 22px;
    font-weight: normal;
    color: #111111;
    margin: 0;
}

.confirm_shipping_info {
    color: #555;
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 0;
}
 
.confirm_subtitle {
    font-size: 21px;
    font-weight: 600;
    color: #333333;
    margin: 0;
}

.purchase-items-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 125px; /* Adds scroll if there are many items */
    overflow-y: auto;
    padding-right: 5px;
}

/* Confirmation summary*/
.confirm-summary {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1.5px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.confirm-image-placeholder {
    width: 90px;        
    height: 90px;  
    background: #f0f0f0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #aaa;
    flex-shrink: 0;
}

.confirm-image-wrap img {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.confirm-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: #333;
}

.confirm-item-title {
    font-weight: 700;
    font-size: 15px;
    color: #111;
    margin: 0 0 4px 0;
}

.confirm-details p { margin: 0; }

.confirm-label {
    font-weight: normal;
    color: #555;
}

.confirm-total-section {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.confirm-total-section p {
    font-size: 18px;
    margin: 0;
    color: #111;
}

/* confirm buttons */
.confirm-actions {
    display: flex;
    flex-direction: row; 
    gap: 10px;           
    width: 100%;
    justify-content: center;
}

.confirm-btn-home {
    flex: 1;             
    background: #1a2148; 
    color: white;
    border-radius: 25px;
    padding: 12px 0;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    transition: opacity 0.3s ease;
}

.confirm-btn-home:hover {
    opacity: 0.85;
}

.confirm-actions-secondary {
    display: flex;
    gap: 12px;
    width: 100%;
}

.confirm-btn-orders {
    flex: 1;
    background: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 25px;
    padding: 12px 0;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: normal;
    text-align: center;
    transition: all 0.2s;
    display: block;
}
.confirm-btn-orders:hover {
    background: #1a2148;
    color: white;
}

.confirm-icon img {
    border-radius: 50%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height:100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#1a2148;
}

header {
    flex-shrink: 0;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;
    background: linear-gradient(180deg, #3e0e65 0%, #1a2148 100%);
    background-attachment: fixed; 
}

footer{
    flex-shrink: 0;
    color: white;
    text-align: center; 
    display: flex;   
    justify-content: center;
    gap: 30px;   
}

footer a {
    text-decoration: none;  
    color: white;        
}

footer a:hover {
    text-decoration: none;
    opacity: 0.7;           
}

img{
    background-color:transparent;
}
