.pagecontainer{
    max-width:1600px;
    padding: 5px 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*top bar*/
.topbar{
    display:flex;
    align-items:center;
    gap: 20px;
}

.logocontainer {
    text-decoration: none; 
    color: white;
    padding-bottom: 10px;
    padding-left: 20px;
}

.logocontainer a {
    text-decoration: none; 
} 

.logo {
    text-decoration: none; 
    color: white;
}

a:hover .logo{
    text-decoration: none;
    opacity: 0.8;           
}

/* search container */
.searchcontainer{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 5px 0;
}

.searchcontainer form {
    display: flex;
    align-items: center;
    background-color: white; 
    border-radius: 25px;    
    overflow: hidden;       
    border: 1px solid #ccc; 
    padding: 1px;           
}

.searchcontainer input {
    height: 30px;          
    width: 635px;
    border: none;           
    padding: 0 15px;
    outline: none;          
    font-size: 16px;
}

/* search button */
.searchbtn{
    height: 35px;
    border: none;     
    border-radius: 0 20px 20px 0;      
    background-color: #f0f0f0; 
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    transition: background 0.2s;
}

/* Search glow when clicked */
.searchcontainer form:focus-within {
    box-shadow: 0 0 18px rgba(100, 150, 255, 0.5);
    border-color: rgba(100, 150, 255, 0.5);
}
.searchbtn:hover {
    background-color: #1a2148;
    color: white;
}

/* right side buttons */
.rightbuttons a{
    font-size: 16px;
    cursor:pointer;
    text-decoration: none;  
    color: white;         
    margin: 0 10px;         
    font-weight: normal;
    align-items: center;

    /* button styling */
    border: 2px solid #ffffff;    
    border-radius: 25px;          
    padding: 8px 20px;           
    background-color: transparent; 
    transition: all 0.3s ease;    
    display: inline-block;
}

.rightbuttons a:hover {
    text-decoration: none;
    background-color: white;
    color: #1a2148;
    opacity: 1;
}

.iconbuttons a{ 
    color: white;         
    margin: 0 10px;       
    font-weight: normal;
    align-items: center;
}

.iconbuttons a img {
    width: 30px;   
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.iconbuttons a:hover {
    text-decoration: none;            
    opacity: 0.7;
}

.category {
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.arrowicon{
    width: 14px;
    height: 14px;
    transition: transform 0.3s ease;
    display: block;
    filter: brightness(0) invert(1);
}

.categories ul {
    color: #ffffff;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.categorytitle {
    display: flex; 
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
    user-select: none; 
    transition: all 0.2s ease;
}

.subcategory {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;        
    background-color: #1a2148;
    border-radius: 5px;
    padding: 15px 0px 15px 0px;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    pointer-events: none;
}

.subcategory li a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 16px; 
    transform: translateY(10px);
    transition: all 0.2s ease;
}

.subcategory li a:hover {
    color: rgba(191, 210, 253, 0.6);
    opacity: 1; 
}

.category.active .subcategory{
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.category.active .categorytitle {
    background-color: rgba(255, 255, 255, 0.1);  /* subtle highlight */
    border-radius: 6px;
    padding: 5px 10px;
}

/* All (Filter) Button */
.allbtn{
    height: 35px;
    border: none;          
    border-radius: 20px 0 0 20px; 
    background-color: #f0f0f0; 
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    transition: background 0.2s;
    cursor:pointer;
}

.allbtnicon {
    width: 12px;  
    height: 12px;
    object-fit: contain;
}

h1{
    text-align: center;
    color: #ffffff;
    font-family: 'Futura', sans-serif;
    font-size: 44px;
    margin-bottom:15px;
    text-shadow: 0 0 40px rgba(100, 150, 255, 0.6);
    letter-spacing: 2px;
}

h2{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase; 
    font-weight: normal;
}

h3{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #000000;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase; 
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 2px;
}

h4{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px; 
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 10px;
}

h5{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #000000;
    font-size: 16px;
    letter-spacing: 1px; 
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 10px;
}

h6{
    text-align: center;
    font-family: 'Futura', sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase; 
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 2px;
}

.title {
   margin: 0%;
}

.cardgrid {
    display: grid;
    place-items: center; 
    flex-grow: 1;
    height: 100%;
}

.card {
    height: 200px;        
    width: 600px;        
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    background: #ffffff;
    border-radius: 15px;
}

.card:hover {
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.hearticon {
    font-size: 50px; 
    color: rgba(34, 34, 34, 0.5); 
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.3));
    transition: transform 0.3s ease, color 0.3s ease;
}

.card:hover .hearticon {
    transform: scale(1.1); 
    color: rgba(229, 22, 22, 0.8);
}

/* Button Styling */
.continuebtn {
    display: inline-block;
    font-family: 'Futura', sans-serif;
    padding: 10px 20px;
    background-color: #3e0e65;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.continuebtn:hover {
    background-color: #260045;
}

#emptywishlist {
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

#noresults {
    display: none; 
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 60vh;
    flex-direction: column;
    font-size: 18px;
    color: #ffffff;
}

.toolbar {
    color: #ffffff;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 25px; 
    width: 100%;
    box-sizing: border-box; 
    padding: 0 10px; 
}

/* search wishlist container */
.searchwishlist{
    display:flex;
    align-items:center;
    margin: 0; /* Let Flexbox handle the spacing */
}

.searchwishlist form {
    display: flex;
    align-items: center;
    background: #ffffff14;
    border: 1.5px solid #ffffff33;
    border-radius: 25px;
    padding: 1px 1px;  
    padding-left: 5px;        
}

.searchwishlist input {
    width: 200px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    color: #ffffff;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

.searchwishlist input::placeholder {
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
}

/* search button */
.searchbtn2 {
    height: 30px;
    border: none;
    border-radius: 0 20px 20px 0; 
    background: #ffffff14;
    color: #ffffff;
    padding: 0 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Gill Sans', Calibri, sans-serif;
    transition: all 0.2s ease;
}

/* Search glow when clicked */
.searchwishlist form:focus-within {
    box-shadow: 0 0 18px rgba(100, 150, 255, 0.5);
    border-color: rgba(100, 150, 255, 0.5);
}

.searchbtn2:hover {
    background-color: #2a015614;
    color: white;
}

/* filter bar  */
.filterbar {
    display: flex;
    gap: 15px; /* Spacing between different filters if you add more later */
    align-items: center;
}

/* sort selector */
.sortselector label {
    color: #ffffff;
    max-height: max-content;
}

.sortselector {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: #ffffff14;
    border: 1.5px solid #ffffff33;
    border-radius: 25px;
    padding: 5px 12px;
    color: white;
    font-size: 14px;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

.sortselector select {
     background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    font-family: 'Gill Sans', Calibri, sans-serif;
    cursor: pointer;
}

.productgrid {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.productcard {
    height: 420px;
    width: 350px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.productcard:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.imagecard {
    position: relative;
    width: 100%;
    height: 220px;      
    background-color: #ffffff; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;       
    box-sizing: border-box;
    overflow: hidden;    
}

.imagecard img {
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
}

.favoriteicon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #000;
}

.favoriteicon:hover {
    transform: scale(1.1);
    color: #e74c3c;
}

.favoriteicon.fa-solid {
    color: #e74c3c;
}

.productinfo {
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.productinfo h3 {
    font-family: 'Futura', sans-serif;
    font-size: 18px;
    margin: 10px 0;
    overflow: hidden;
}

.price, .condition {
    font-family: 'Futura', sans-serif;
    font-size: 15px;
    margin: 2px 0;
}

.addtobasketbtn {
    background-color: white;
    color: #1a2148;
    border: 2px solid #1a2148; 
    font-family: 'Futura', sans-serif;
    font-size: 15px;
    border-radius: 25px;  
    padding: 8px 15px;
    cursor: pointer;
    margin-top: auto; 
}

.addtobasketbtn:hover {
    background-color: #1a2148;;
    color: white;
    border: 2px solid #1a2148;
}

/* add to basket*/
.addtobasketbtn.added {
    background-color: #1a2148;
    color: white;
    border: 2px solid #1a2148;
}

/*toast notification*/
.addbasket-toast {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 14px 28px;
    border-radius: 25px;
    font-family: 'Gill Sans', Calibri, sans-serif;
    font-size: 15px;
    z-index: 99999;
    box-shadow: 0 4px 24px rgba(0,0,0,0.25);
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    max-width: 90vw;
    pointer-events: none;
}

/* (Added) */
.toast-success {
    background-color: #2ecc71; 
}

/* (Removed) */
.toast-info {
    background-color: #e74c3c;
}

 
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height:100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#1a2148;
}

header {
    flex-shrink: 0;
}

main{
    height: 400px;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    min-height: 0;
    background: #1a2148;
    background: linear-gradient(180deg, #3e0e65 0%, #1a2148 100%);
    background-attachment: fixed; 
}

footer{
    flex-shrink: 0;
    color: white;
    text-align: center; 
    display: flex;   
    justify-content: center;
    gap: 30px;   
}

footer a {
    text-decoration: none;  
    color: white;        
}

footer a:hover {
    text-decoration: none;
    opacity: 0.7;           
}

img{
    background-color:transparent;
}
